body {
    background-color: #000;   /* Black background */
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    width: 400px;
    margin: 50px auto;
}

.title {
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.scope {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

progress {
    width: 100%;
    height: 20px;
    appearance: none;
}

/* Background of bar */
progress::-webkit-progress-bar {
    background-color: #222;
    border-radius: 10px;
}

/* Gradient color fill (Chrome, Edge) */
progress::-webkit-progress-value {
    background: linear-gradient(90deg, #00f5ff, #ff00c8);
    border-radius: 10px;
}

/* Firefox */
progress::-moz-progress-bar {
    background: linear-gradient(90deg, #00f5ff, #ff00c8);
    border-radius: 10px;
}
.link a{
  text-decoration: none;
  position: absolute;
  left:10%;
  top: 20%; 
  color: #ee0bcc;
}
