@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(375deg,#1cc7d0,#2ede98);
}

.wrapper{
    height: 400px;
    width: 320px;
    position: relative;
    perspective: 1000px;
}

.wrapper .card{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 0.7s cubic-bezier(0.4,0.2,0.2,1);
}

.front-face{
    transform: rotateY(0deg);
}

.back-face{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper:hover .front-face{
    transform: rotateY(-180deg);
}

.wrapper:hover .back-face{
    transform: rotateY(0deg);
}

.wrapper .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper .back-face img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(375deg,#1cc7d0,#2ede98);
}

.wrapper .back-face .info{
    text-align: center;
}

.wrapper .info .title{
    font-size: 30px;
    font-weight: 500;
}

.back-face ul{
    display: flex;
    list-style: none;
}

.back-face ul a{
    display:block;
    height: 40px;
    width: 40px;
    background: linear-gradient(375deg,#1cc7d0,#2ede98);
    text-align: center;
    border: 2px solid transparent;
    line-height: 38px;
    margin: 0 5px;
    border-radius: 50%;
    color: #fff;
    transition: 0.4s;
}

.back-face ul a:hover{
    background: #1cc7d0;
    border-color: #1cc7d0;
}
.link a{
  text-decoration: none;
  position: absolute;
  left: 10%;
  top: 10%; 
  color: #fff;
}