body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    height: 200px;
    width: 200px;
    border: 12px solid #e3e3e3;
    border-radius: 50%;
    border-top: 12px solid  #4070f4;
    animation: spin 1s ease infinite;
}
@keyframes spin { 
   100%{transform: rotate(360deg)
   }
}
.link a{
  text-decoration: none;
  position: absolute;
  left: 10%;
  top: 10%; 
  color:blue;
}